// type
$body-color: #83a7a5;
$body-bg: #fff;
$btn-font-family: 'Montserrat', Arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.57;
$font-family-base: Roboto, Arial, sans-serif;
$link-color: #0f5f5c;

$heading-font-weight: 300;
$heading-font-transform: capitalize;
$heading-color: #0f5f5c;
$heading-font-size-1: 36px;
$heading-font-size-2: 32px;
$heading-font-size-3: 22px;
$heading-font-size-4: 16px;
$heading-font-size-5: 13px;
$heading-font-size-6: 12px;

// btn
$btn-color: #fff;
$btn-font-size: 13px;
$btn-bg: #6fb048;
$btn-border: none;
$btn-border-radius: 2px;
$btn-padding: 12px 22px 11px;

$btn-color-hover: $btn-color;
$btn-bg-hover: darken($btn-bg, 8%);

$btn-neutral-opacity: 0.32;

// $block-padding-y:       20px;
// $block-padding-x:       0;

// $block-padding-y-xs:    5px;
// $block-padding-x-xs:    0;

// $block-padding-y-sm:    15px;
// $block-padding-x-sm:    0;

// $block-padding-y-lg:    30px;
// $block-padding-x-lg:    0;

$block-title-size:      $heading-font-size-2;
$block-description-size:15px;

$block-brand-bg: #2d6e70;

// $overlay-opacity: 0.8;








$block-brand-bg: #2d6e70;
$overlay-opacity: 0.9;