%list-styles-reset {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

%list-styles-reset li {
	font-size: initial;
}

%clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

%simple-anim {
	transition: all .25s linear;
}

@mixin paddings-y($padding-top, $padding-bottom:$padding-top){
	padding-top: $padding-top;
	padding-bottom: $padding-bottom;
}

@function find-the-proportion($width, $height) {
  @return $width / $height * 100%;
}